.table-nowrap td {width:200px;max-width:175px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
table.input {
	width: 100%;
	word-break: break-all;
	margin-top:10px;
}

table.input th {
	width: 150px;
	line-height: 25px;
	padding: 5px 10px 5px 0px;
	font-weight: normal;
	text-align: right;
	white-space: nowrap;
}

table.input tr:hover th {
}

table.input .title th, table.input .title td {
	text-align: left;
	padding-left: 5px;
	background-color: #f1f8ff;
}

table.input td {
	line-height: 25px;
	padding: 5px;
	color: #666666;
}

table.input .fieldTitle {
	height: 29px;
	line-height: 29px;
	padding-right: 5px;
}
input.text {
	width: 180px;
	height: 24px;
	line-height: 24px;
	padding: 0px 4px;
	color: #666666;
	-webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border-top: 1px solid #999999;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	border-left: 1px solid #999999;
}

input.text[type=file] {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

input.text:hover {
	-webkit-transition: box-shadow linear 0.2s;
	-moz-transition: box-shadow linear 0.2s;
	-ms-transition: box-shadow linear 0.2s;
	-o-transition: box-shadow linear 0.2s;
	transition: box-shadow linear 0.2s;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
	border: 1px solid #74b9ef;
}

input.text:disabled {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-color: #f6f6f6;
}

input.text:disabled:hover {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-top: 1px solid #999999;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	border-left: 1px solid #999999;
	background-color: #f6f6f6;
}

textarea.text {
	width: 350px;
	height: 120px;
	padding: 4px;
	color: #666666;
	font-size: 12px;
	-webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border-top: 1px solid #999999;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	border-left: 1px solid #999999;
}

textarea.text:hover {
	-webkit-transition: box-shadow linear 0.2s;
	-moz-transition: box-shadow linear 0.2s;
	-ms-transition: box-shadow linear 0.2s;
	-o-transition: box-shadow linear 0.2s;
	transition: box-shadow linear 0.2s;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
	border: 1px solid #74b9ef;
}

textarea.text:disabled {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-color: #f6f6f6;
}

textarea.text:disabled:hover {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-top: 1px solid #999999;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	border-left: 1px solid #999999;
	background-color: #f6f6f6;
}

textarea.editor {
	width: 100%;
}

input.button {
	height: 26px;
	*line-height: 22px;
	display: inline-block;
	display: -moz-inline-stack;
	padding: 0px 14px;
	margin-right: 10px;
	color: #444444;
	cursor: pointer;
	*overflow: visible;
	text-shadow: 1px 1px #ffffff;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	outline: none;
	blr: expression(this.hideFocus = true);
	border: 1px solid #b7c8d9;
	background: url(../images/common.gif) 0px 0px repeat-x;
}

@-moz-document url-prefix() {
	input.button {
		padding: 0px 10px;
	}
}

input.button:hover {
	color: #222222;
	-webkit-transition: box-shadow linear 0.2s;
	-moz-transition: box-shadow linear 0.2s;
	-ms-transition: box-shadow linear 0.2s;
	-o-transition: box-shadow linear 0.2s;
	transition: box-shadow linear 0.2s;
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 6px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 6px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 6px rgba(82, 168, 236, 0.6);
	background-position: 0px -30px;
}

input.button:active {
	background-position: 0px -60px;
}

input.button:disabled {
	color: #bbbbbb;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

input.button:disabled:hover, input.button:disabled:active {
	color: #222222;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-position: 0px 0px;
}

span.requiredField {
	padding-right: 3px;
	color: #ff6d6d;
	font-size: 10px;
}

input.fieldError {
	border: 1px solid #ffb042;
	background-color: #fffbf5;
}

select.fieldError {
	border: 1px solid #ffb042;
	background-color: #fffbf5;
}

label.fieldError {
	line-height: 23px;
	color: #ffb042;
	padding-left: 6px;
}


#listForm table thead a{
	color:#fff;
}
.clearfix:after{
     content:".";        
     display:block;        
     height:0;        
     clear:both;        
     visibility:hidden;        

}
.clearfix{zoom:1}

.pagination-info{
	line-height:31px;
	height:31px;
}
.pagination-info input{
	width: 34px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 12px;
    padding: 0;
    height: 22px;
}
.pagination{
	margin:0;
}

table.queryFiled th {
	line-height: 24px;
	padding: 5px 10px 5px 20px;
	font-weight: normal;
	text-align: right;
	white-space: nowrap;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #1fb5ac;
    border-color: #1fb5ac;
}
.dateRange{
	text-align:center;
}
table.queryFiled :input{
	width:140px;
}
ul{
	list-style-type: none;
}
.viewer-images li{
	float:left;
	margin-right:10px;
}
.viewer-images li img{
	width:100px;
	height:100px;
}
.img-list{
	max-width:40px !important;
	max-height:40px !important;
}