body{
	background:#eee url("../images/main-back.png") repeat;
	padding:0;
	margin:0;
}
.header {
	min-width: 1000px;
	font-weight: normal !important;
	text-shadow: none !important;
	background-color: #f8f8f8;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8),
		to(#f2f2f2));
	background: -webkit-linear-gradient(top, #f8f8f8, #f2f2f2);
	background: -moz-linear-gradient(top, #f8f8f8, #f2f2f2);
	background: -ms-linear-gradient(top, #f8f8f8, #f2f2f2);
	background: -o-linear-gradient(top, #f8f8f8, #f2f2f2);
	background: linear-gradient(top, #f8f8f8, #f2f2f2);
	border-bottom: 1px solid #ddd;
	box-shadow: inset 0px 1px 1px #fff;}
.content{
	min-width:1000px;
}
.sidebar {
    width: 230px;
}
.mainbar{
	margin-left:230px;	
}

ul.sub_ul li i{
	height: 24px !important;
    line-height: 24px !important;
    width: 24px !important;
}
.sub_ul li.active{
  color: #2b2b2b;
  font-weight: bold;
  background-color:#eee;
}
